<div fxFlex fxLayout="column" fxLayoutAlign="center center">

    <div fxFlex>
        log state: {{auth.isLogged}}
    </div>
    <div fxFlex fxLayout="column">


        <form (ngSubmit)="1===1" fxFlex fxLayout="column">
            <mat-form-field>
                <input type="email" placeholder="email" matInput>

            </mat-form-field>

            <mat-form-field>
                <input type="password" placeholder="password" matInput>

            </mat-form-field>

            <button mat-button color="secondary" (click)="auth.logout()">log out</button>
            <button type="submit" mat-button color="primary" (click)="auth.login()">log in</button>
        </form>



    </div>
</div>