<form (ngSubmit)="submit(userForm.value)" #userForm="ngForm">
    <div>
        <label>id</label>
        <input type="text" name="id" readonly [(ngModel)]="user.id">
    </div>

    <div>
        <label>email</label>
        <input type="text" name="email" [(ngModel)]="user.email">
    </div>

    <div>
        <label>isAdmin</label>
        <input type="checkbox" name="isAdmin" [(ngModel)]="user.isAdmin">
    </div>

    <div>
        <button type="reset">reset</button>
        <button type="submit">submit</button>
    </div>

    {{user | user}}
    {{user | json}}
</form>