<form (ngSubmit)="submit()" [formGroup]="userForm">
    <div>
        <label>id</label>
        <input type="text" name="id" formControlName="id" readonly>
    </div>

    <div>
        <label>email</label>
        <input type="text" name="email" formControlName="email">
        <div *ngIf="emailCtrl.dirty && userForm.controls.email.errors?.email">
            email must be be an email
        </div>

        <div>
            <label>isAdmin</label>
            <input type="checkbox" name="isAdmin" formControlName="isAdmin">
        </div>

        <div>
            <button [disabled]="userForm.invalid" type="submit">submit</button>
        </div>
    </div>
</form>